$font-stack: Arial, Helvetica, sans-serif;
$primary-color: rgb(182, 204, 245);
$secodly-color: rgb(238, 248, 93);
$title-color: rgb(42, 234, 25);
$sub-title: rgb(71, 255, 101);
$light-color: linear-gradient(to right, #db1bf6, #1ad0f0);
$a-color: rgb(252, 249, 77);
$a-hover: rgb(155, 56, 221);



@function set-text-color($color){
  @if() {
      
  }@else{

  }
}